@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    contacr us: <br/>
    
    <strong>Sabbir Ahmed: </strong>   <a href="mailto:sujoysuktoemon@gmail.com">sujoysuktoemon@gmail.com</a><br />
    <strong>FACEBOOK:</strong> <a href="mailto:www.facebook.com/sujoysuktoemonii">Sujoy Sukto Emon</a><br />
    <strong>Cell Phone:</strong> 01683316264

</address>