@model PzojectClassWordFriday.Models.Student

@{
    ViewBag.Title = "Student Index";
}

<h2>Student Information </h2>


<div>
    <table>
        <td>
            @Html.DisplayNameFor(c=>c.StudentName)
        </td>
        <td>
            @Html.DisplayFor(c=>c.StudentName)
        </td>
    </table>

</div>